
@mixin breakpoint($point) {
    @if $point == pro {
        @media only screen and (max-width: $ipadPro) {
            @content;
        }
    } @else if $point == tab {
        @media only screen and (max-width: $ipad) {
            @content;
        }
    } @else if $point == sp {
        @media only screen and (max-width: $sp) {
            @content;
        }
    }
}
